	<section>
		<header>
			<h2>Why we do this</h2>
		</header>
		<div class="content">
			<p><strong> Connecting bright stars: </strong> This is our way of supporting the communities that we love.
				We started this because we wondered where these creative projects go after the end of their Kickstarter campaign cycles. 
				We notice they are somewhere in the vast universe of the web — like a lonely twinkling stars -- hard to find without knowing exact keywords. 	
				We want to bring these stars together so that the greater light helps fans to discover easier.  
				
				<p>
					<strong> Our star network: </strong> 
					We are launching a curated marketplace of awesome products with tutorial video series in Feburary 2020. 
					You will be in charge of your spaceship. We will make sure you are connected and heard!
					It will be filled with joy and fun -- featuring stories of yours and your fellow builders, creatives, and innovators.
				</p>
			<p>
			</p>
		</div>
	</section>

