	<section>
		<header>
			<h2>Why we do this</h2>
		</header>
		<div class="content">
			<p> We love discovering genuine stories and awesome products. We started this because we notice <span class='bold'>these shining lonely stars</span> are hard to find in <span class='bold'>the vast universe of the web</span> -- especially when not knowing exact keywords. 	
				We are bringing them together at the single spot, so that fans like us know exactly where to go to discover awesome products and stories like yours. This is our way of supporting those intrigued us and moved us. 
			</p>
			<p>
				More concretely speaking, we are launching <strong>a curated marketplace</strong> of awesome products with tutorial video series <strong>in Feburary 2020</strong>. 
				Welcome abroad! We will ensure that you are  <span class='bold'>connected</span> to your fans and like-minded fellow builders, creatives, and innovators.
			</p>
			<div class="content">
					<div class="gallery">
						<a href="images/gallery/fulls/02.jpg"><img src="https://images.unsplash.com/photo-1504387103978-e4ee71416c38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="" /></a>
						<a href="images/gallery/fulls/03.jpg"><img src="https://images.unsplash.com/photo-1536952045583-01de0539da74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="" /></a>
						<!-- <a href="images/gallery/fulls/04.jpg" class="landscape"><img src="images/gallery/thumbs/04.jpg" alt="" /></a> -->
						<span class='italic' style="margin: 0 auto; margin-top: 10px">We shine brighter together</span>
					</div>
				</div>
		</div>
	</section>

