					<section id="first">
						<header>
							<h2>WHO WE ARE</h2>
						</header>
						<div class="content">
							<p>
								<strong>Hello, captain!</strong> 
								Delighted to meet you here. We are content creators and curators of awesome products.
								We review hundreds of products to discover a awesome product like yours. 
								We select you as our beta user based on the following criteria: authenticity, experimental spirit, and positive impacts in our communities.
								We believe that your product and story have great potentials for great content. 
							</p>
							<span class="image main"><img src="images/pic02.jpg" alt="" /></span>
						</div>
					</section>

