					<section id="first">
						<header>
							<h2>WHO WE ARE</h2>
						</header>
						<div class="content">
							<p>
								<strong>Hello, Captain!👨‍🚀</strong> 
								Delighted to see you here. We are content creators and curators of awesome products.
								We review hundreds of products to discover an awesome product like yours. 
								We <strong>selected you</strong>  as our beta user based on the following criteria: authenticity, experimental spirit, and positive impacts in our communities.
								We believe that <span class="italic">your product and story have great potentials for great content</span>. 
							</p>
							<!-- <span class="image main"><img src="https://images.unsplash.com/photo-1505635270368-521ff6cb73e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="" /></span> -->
							<div>
								<span class="image main"><img src="https://images.unsplash.com/photo-1566489734063-c270b76d1943?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="" /></span>
								<div class='italic' style="text-align: center;">We found you! 🌻</div>
							</div>
						</div>>
					</section>

