					<section>
						<header>
							<h2>Get in touch</h2>
						</header>
						<div class="content">
							<!-- <p><strong>Auctor commodo</strong> interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis.</p> -->
							<form>
								<div class="fields">
									<div class="field">
										<input type="email" name="email" id="email" placeholder="Your email" />
									</div>
									<div class="field">
										<textarea name="message" id="message" placeholder="Message" rows="7"></textarea>
									</div>
								</div>
								<ul class="actions">
									<!-- <li><input type="submit" value="Send Message" class="button primary" /></li> -->
								</ul>
							</form>
						</div>
						<footer>
							<ul class="items">
								<li>
									<h3>Email</h3>
									<a href="#">sophie@launchcrew.com</a>
								</li>
								<li>
									<h3>Address</h3>
									<span>32 Carpenter Street #03-01 Singapore 059911</span>
								</li>
								<!-- <li>
									<h3>Elsewhere</h3>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									</ul>
								</li> -->
							</ul>
						</footer>
					</section>

  {% include copyright.html %}
