								<section>
									<header>
										<h3 id="campaign_planning">2. Campaign Planning </h3>
										<p>
										  We discuss an <strong>incentive structure</strong> for our kickstarter backers and to what extent we knock into <strong>traction channels</strong>. 
										</p>
									</header>
									<div class="content">
										<div class="gallery">
											<a href="images/gallery/fulls/05.jpg" class="landscape"><img src="https://images.unsplash.com/photo-1501159599894-155982264a55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="" /></a>
										</div>
										<p style='font-size: 14px'>We gauge your current production capacity and to what extent this can be scaled for such to be leveraged. </p>
									</div>
								</section>

