{% assign intro_text = site.data.texts | where:"name","intro_text" %}

{% assign title_text = site.data.texts | where:"name","title_text" %}


<section class="intro">
						<header>
            <h1>{{intro_text.first.value}}</h1>
            <p>{{title_text.first.value}}</p>
							<ul class="actions">
								<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<span class="image fill" data-position="center"><img src="https://source.unsplash.com/user/sophie_y/DuBNA1QMpPA" alt="" /></span>
						</div>
					</section>

