					<section>
						<header>
							<h2>What We Do</h2>
						</header>
						<div class="content">
							<p><strong>Captain! We found a way to shoot for the moon. </strong> We create content that marries the needs of yours and your prospective fans - getting tractions (yours) and discovering useful information & awesome story (your fans). </p> 
								
							<p>
							<strong>What's our plan?</strong> We launch a kickstarter campaign for tutorial video series that help your product to get more traction. 
							This is known as a content marketing - we create useful information that customers seek out for themselves.  
							Our goal is to raise brand awareness and sell your products through the shared goal (i.e. creating 1-2 hour online course content) 
							between you and your yet to be discovered fans. 
							</p>
						</div>
					</section>


