					<section>
						<header>
							<h2>What We Do</h2>
						</header>
						<div class="content">
							<p>Captain, We got a booster to go beyond the orbit 🚀 <strong>We create content that marries the needs of yours and your prospective fans</strong> - getting <span class="italic">tractions</span>(yours) and discovering <span class="italic">useful information & authentic story</span>(your fans). </p> 
								
							<p>
							<strong>What's our plan?</strong> We launch a kickstarter campaign for tutorial video series that help your product to get more traction. 
							This is known as a content marketing - we create useful information that customers seek out for themselves.  
							Our goal is to <strong>build shared experience</strong>  between you and your yet to be discovered fans.
							This helps to raise <span class="italic" >brand awareness</span> and acquire a new <span class="italic">distribution channel.</span>  
							</p>

							<div class="content">
									<div class="gallery">
										<a href="images/gallery/fulls/03.jpg"><img src="https://images.unsplash.com/photo-1518897703155-6284828952b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1308&q=80" alt="" /></a>
										<a href="images/gallery/fulls/02.jpg" ><img src="https://images.unsplash.com/photo-1525968673172-f33a3a0742b7?ixlib=rb-1.2.1&auto=format&fit=crop&w=881&q=80" alt="" /></a>
										<span class='italic' style="margin: 0 auto; margin-top: 10px">We go further together</span>
									</div>
								</div>
						</div>
					</section>


