<section id="first">
		<header>
			<h2>We Collaborate with </h2>
		</header>
		<div class="content">
			<p>
				We are partnering with Meiko and Ify. We are captivated by their beautiful minds. 
				Meiko Gubeladze is an experimental chef in Tbilisi, Georgia. She seeks nuance when imagining what it means to modernize 
				incorporate a fusion element to Georgian cuisine that is already cross cultural from the Silk Road time. Read her coverage by New York Times and Georgia Today.
	
				Ify is a Nigerian-Italian designer Ify in Singapore. She blends colorful and vivid African Fabrics with 
				italian design to make unique clothes for women of all colors. She believes that mixing styles and cultures can open our minds
				and discover something we never saw before. She approaches her art with slow fashion and zero waste. Read her story here.
				
			</p>
			<div class="content">
					<div class="gallery">
						<!-- <a href="images/gallery/fulls/01.jpg" class="landscape"><img src="images/gallery/thumbs/01.jpg" alt="" /></a> -->
						<a href="images/gallery/fulls/02.jpg"><img src="https://scontent.fsin8-1.fna.fbcdn.net/v/t31.0-8/13131394_10209308017919395_713191850847969918_o.jpg?_nc_cat=111&_nc_ohc=3Ha99KOxRkgAQlVVS3U9t0BvCB8-wYIqslAzPBuqzZPLZdh64cI_YZ5hg&_nc_ht=scontent.fsin8-1.fna&oh=566237e35f16bf7407f82f3faa1a5026&oe=5E8B5659" alt="" /></a>
						<a href="images/gallery/fulls/03.jpg"><img src="https://ucarecdn.com/d6996529-a10c-47cf-a9b8-f3bbc58c96ee/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="" /></a>
						<!-- <a href="images/gallery/fulls/04.jpg" class="landscape"><img src="images/gallery/thumbs/04.jpg" alt="" /></a> -->
					</div>
					Hello Meriko & Ify! 
				</div>
		</div>
	</section>


