					<section>
						<header>
							<h2>What will we discuss</h2>
						</header>
						<div class="content">
							
							<p> We schedule a <strong>25 mins brainstorming session</strong> for two agendas - 1. <a href="#video_production">video production</a> & <a href="#campaign_planning">campaign planning</a>.		
							 <p>Two takeaways for you at the end of the day. A successful Kickstarter campaign & a home that brings an organic traffic to your video series and your product.  </p>
							<!-- Section -->
							
								<section>
									<header>
										<h3 id="video_production">1. Video Production</h3>
										<p>
											We discuss two parts of our video content — <strong>your genuine story</strong> and <strong>useful content</strong>.				
										</p>
									</header>
									<div class="content">
										<div class="gallery">
											<a href="images/gallery/fulls/01.jpg" class="landscape"><img src="https://images.unsplash.com/photo-1548944588-bd022d6b3a9b?ixlib=rb-1.2.1&auto=format&fit=crop&w=2252&q=80g" alt="" /></a>
										</div>
										  <p style='font-size: 14px'>
										    The world craves for authenticity and knowledge sharing.  
											<strong>86%</strong> of consumers prefer an authentic and honest brand personality on social networks <sup><a href="https://www.hubspot.com/marketing-statistics">[1]</a></sup> 
											<strong>85%</strong> of consumers trust solutions that use ads or sponsored content to share knowledge.
											Nothing builds <span class="italic">trust</span> like a genuine story and kindness that offers help. <sup><a href="https://go.marketo.com/rs/marketob2/images/DG2ECM.pdf">[2]</a></sup>
										  </p>
									</div>

								</section>


